language: ruby
rbenv:
  - 2.3.1
install:
  - bundle install --path vendor/bundle
  - npm install
before_script: bundle exec jekyll clean
script:
  - JEKYLL_ENV=production bundle exec jekyll build
  - npx webpack --mode=production
deploy: bundle exec rake deploy
