---
layout: talk
title: "You build it, you run it"
date: 2018-10-04 10:47
theme: "white"
comments: true
sharing: true
footer: true
---
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h1
          You build it, you run it
      .none{style: 'grid-column-start: 1; grid-column-end: 7'}
        %ul
          %li 
            %strong Roger Almeida
          %li 
            %i.fab.fa-twitter
            %a{href: '#'}@rogeralmeidacom
          %li 
            %i.fab.fa-github
            %a{href: '#'}github.com/rogeralmeida
          %li
            %i.fab.fa-linkedin
            %a{href: "#"}linkedin.com/in/roger-almeida
          %li 
            %i.fas.fa-globe
            %a{href: '#'}www.roger-almeida.com
      .none{style: 'grid-column-start: 7; grid-column-end: 13'}
        %img{src: '/images/agile-australia-2019/roger-almeida.jpg'}
    %aside.notes
      Although I have the honour to be presenting here, I will be talking about not the work a person, a team or a department. The stories I will be sharing here today is the result of the effort of many brillant people who had passion and patience to take Tyro through the Journey it went through.
  %section
    %h2 About me
    #roger-timeline.highchart{style: 'height: 400px;'}
  %section
    %h2 About Tyro
    %img{src: '/images/agile-australia-2019/tyro-hero.png'}
  %section
    %h2 About Tyro
    %img{src: '/images/agile-australia-2019/tyro-offering.png'}

%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h1 Chaos Monkeys
      .none{style: 'grid-column-start: 1; grid-column-end: 3;'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-1.png', style: 'box-shadow: none;'}
        %br
        Team Member
      .none{style: 'grid-column-start: 3; grid-column-end: 5'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-2.png', style: 'box-shadow: none;'}
        %br
        Team Member
      .none{style: 'grid-column-start: 5; grid-column-end: 7'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-3.png', style: 'box-shadow: none;'}
        %br
        Team Member
      .none{style: 'grid-column-start: 7; grid-column-end: 9'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-5.png', style: 'box-shadow: none;'}
        %br
        Team Member
      .none{style: 'grid-column-start: 9; grid-column-end: 11'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-6.png', style: 'box-shadow: none;'}
        %br
        Team Member
      .none{style: 'grid-column-start: 4; grid-column-end: 7'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-7.png', style: 'box-shadow: none;'}
        %br
        Delivery Lead
      .none{style: 'grid-column-start: 7; grid-column-end: 9'}
        %img.lego-figure{src: '/images/agile-australia-2019/lego-4.png', style: 'box-shadow: none;'}
        %br
        Tech Lead
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %ul
          %li A software development team. 7 People (8 very soon)
          %li Responsible for capturing and serving data for reporting
          %li > 1M transactions per day
          %li Hybrid setup: On-Prem and Cloud (AWS®)
          %li You build it, you run it! 24/7 Support
    %aside.notes
      :markdown
        * We are doing fine with this DevOps idea
  %section
    %h2 Chaos Monkeys - Status
    %ul
      %li Up to 6 deploys per week
      %li > 99.999 availability
      %li MMTD < 10 minutes
      %li MMTR < 1 hour
    %aside.notes
      :markdown
        * According to the latest DevOps report we would be in the high performant companies
        * But, wait a second... there is one small but very important detail
  %section
    %h1 Hey, wait a second...
    %h1.fragment.animated-fragment{style: 'animation-iteration-count: 5;', data: {animated: {classes: 'animated pulse delay-2s'}}} AREN'T YOU a BANK?

%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Can a bank fully adopt Agile and DevOps?
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h1 
          %i.fas.fa-ban{style: 'opacity: 0.4;'}
          Challenges
      .panel-light-blue.fragment{style: 'grid-column-start: 1; grid-column-end: 5;'}
        Heavily regulated
      .panel-light-green.fragment{style: 'grid-column-start: 5; grid-column-end: 9'}
        Segregation of duties
      .panel-light-blue.fragment{style: 'grid-column-start: 9; grid-column-end: 13;'}
        Change Management
      .panel-light-green.fragment{style: 'grid-column-start: 1; grid-column-end: 5;'}
        Security
      .panel-light-blue.fragment{style: 'grid-column-start: 5; grid-column-end: 9'}
        Risk Management
      .panel-light-green.fragment{style: 'grid-column-start: 9; grid-column-end: 13'}
        Compliance
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Pair Programming
  %section
    %h2 Definition
    .blockquote
      Two team members working on the same task, at the same time, using the same computer.
  %section
    %h2 History
    %ul
      %li Alternative to the common review process
  %section{data: {transition: 'fade-out'}}
    %h2 Audit via GIT
    %img{src: '/images/agile-australia-2019/git-log-long.png'}
  %section{data: {transition: "fade-in fade-out"}}
    %h2 Audit via GIT
    %img{src: '/images/agile-australia-2019/git-log-long-people.png'}
  %section{data: {transition: "fade-in fade-out"}}
    %h2 Audit via GIT
    %img{src: '/images/agile-australia-2019/git-log-long-jira.png'}
    %aside.notes
      :markdown
        * We started to adopt Pair Programming during the early days of the company. It was working well and when we spoke to APRA we explain to then how that was actually better then code review, as it would enforce two minds to work on the same problem. 
        * With pair rotation, we have more code review than a normal code review at the end. 
        * Pair programming facilitates the creation of small batches which enhances the delivery by reducing our cycle time and our working in progress.
        * But for the auditors we needed to prove that we were able to follow the process we had defined. That is were Jira and Git played a great role. We have created a way to record who introduced the change from the code and why that change was introduced.
  %section
    %h2 Pair Programming
    %h3 helped us to deal with
    %ul
      %li Code Review
    %aside.notes
      :markdown
        * Pair programming was a strategy that enabled us to avoid a slow code review process early on. Pair programming still part of our DNA. Although we have much more flexibility about pairing or not, it still happening daily in our office.
%section
  %section
    %h1 The Platform Pattern
  %section
    %h2 The Platform Pattern
    %ul
      %li A team/tribe focused on automating security/risk/compliance
      %li 
%section
  %section
    %h1
      Segregation of Duties
  %section
    %h2 Definition
    %blockquote The person who created the change should not be the person who apply the change
  %section
    %h2 What we did
    %ul
      %li Used to have Development team creating the changes
      %li Operations teams would apply the changes to production
%section
  %section
    %h1 Change Management
%section
  %section
    %h1 Defense in Depth
%section
  %section
    %h1 Break Glass
%section
  %section
    %h1 Thank You