{% if page.comments != false %}
  {% if site.url %}
    {% assign disqus_url = page.url | prepend: site.url %}
  {% elsif site.github.url %}
    {% assign disqus_url = page.url | prepend: site.github.url %}
  {% endif %}

  <h1> Comments</h1>

  <div id="disqus_thread"></div>
  <script>

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://rogeralmeida.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% else %}
  <h1>Comments are not enabled</h1>
{% endif %}
