---
layout: page
---
.page-header
  %h1 Talks
  %a{href: '/'}
    %i.fa.fa-arrow-left{aria: {hidden: "true"}}
    Back

%ul
  %li
    %a{href: "/talks/inception/", target: "_blank", rel: "noopener",} Inception
  %li
    %a{href: "/talks/kanban-and-beyond/", target: "_blank", rel: "noopener",} Kanban And Beyond
  %li
    %a{href: "/talks/lean-inception/", target: "_blank", rel: "noopener",} Lean Inception
  %li
    %a{href: "/talks/ybiybri/", target: "_blank", rel: "noopener",} Lessons from running a "You build it, you run it" team