.col-1 {
  float: left;
  width: 8.33%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33%;
  margin-left: 1em;
  margin-right: 1em;
}

.col-5 {
  float: left;
  width: 41.66%;
}

.col-6 {
  float: left;
  width: 50%;
  margin-left: 1em;
  margin-right: 1em;
}

.col-7 {
  float: left;
  width: 58.33;
}

.col-8 {
  float: left;
  width: 66.66%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.33%;
}

.col-11 {
  float: left;
  width: 91.66%;
}

.col-12 {
  float: left;
  width: 100%;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
}

.row::after {
  display: block;
  content: "";
  clear: both;
}

.panel {
  border: 1px solid red; 
  border-radius: 25px;
  background-color: #708090;
  line-height: 3em;
}

.panel-light-blue {
  border: 1px solid; 
  border-radius: 25px;
  background-color: #f3faff;
  line-height: 3em;
  margin-top: 9px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 10px 10px grey;
}

.panel-light-green{
  border: 1px solid; 
  border-radius: 25px;
  background-color: #6FF4BA;
  line-height: 3em;
  margin-top: 9px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 10px 10px grey;
}

.lego-figure {
  height: 5em;
}