---
layout: post
title: "Roger's golden list of books for developers"
date: 2017-12-03 11:31:31 +0000
comments: true
---
:markdown
  A good book has the power to change yourself and your career. Along the years I've collected some books that I believe every developer would benefit reading from.

<!-- more -->

:markdown
  I compiled this list based on my own experience and recommendations from friends and other people I respect.

  ## Must
  The books on this section are the masterpieces of software development. They describe the fundamentals of our industry. If you are missing any book in this section make sure you cover the gap ASAP. IMHO every software developer must read all the books on this section.

  ### Agile Software Development: Principles, Patterns and Practices by Robert C. Martin 
  This is a fundamental book. Uncle bob gives a succint and effective explanation about how to run a Agile Software Development project. He covers the fundamentals of eXtreme Programming and agile software development. Then he progresses to how to implement those ideas giving examples of planning, testing and refactoring. But don't assume this is a book for managers and teams leaders only. He covers in details object oriented patterns that give agility to a project. I first read this book in 2007 and still believe this is one of the most important book in the history of software development. It changed my mind about Agile Software Development and still my reference about the intentions behind the agile manifesto.

  ### Design Patterns: Elements of Reusable Object Oriented Softare by Erich Gamma, Richard Helm, Ralph Johnson, and John M. Vlissides
  ### Domain Driven Design: Tackling Complexity in the Heart of Software by Eric Evans
  ### Effective Java by Joshua Bloch
  ### Extreme Programming Explained: Embrace Change by Kent Beck and Cynthia Andres
  ### Patterns of Enterprise Application Architecture by Martin Fowler
  ### Refactoring: Improving the Design of Existing Code by Martin Fowler, Kent Beck, John Brant, and William Opdyke

  ### Test Driven Development By Example Kent Beck
  ### The Mythical Man-Month: Essays on Software Engineering Frederick P. Brooks
  ### The Pragmatic Programmer: From Journeyman to Master Andrew Hunt and Dave Thomas
  Working Effectively with Legacy Code Michael Feathers

  ## Should
  ## Nice to read
