  <section>
      <h2>Component 7:</h2>
      <h1>Highlight the Blockers</h1>
  </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td><center>5</center></td>
                        <td><center>3</center></td>
                        <td><center>3</center></td>
                        <td><center>2</center></td>
                        <td><center>5</center></td>
                        <td><center></center></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td><center>5</center></td>
                        <td><center>3</center></td>
                        <td><center>3</center></td>
                        <td><center>2</center></td>
                        <td><center>5</center></td>
                        <td><center></center></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                        </td>
                        <td>
                            <div class="post-it-blocked">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td><center>5</center></td>
                        <td><center>3</center></td>
                        <td><center>3</center></td>
                        <td><center>2</center></td>
                        <td><center>5</center></td>
                        <td><center></center></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it-blocked">
                                12
                            </div>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
