	<section>
		<h1>Some Concepts</h1>
        <h2>Before moving on</h2>
        <img src="https://media.giphy.com/media/ZXKZWB13D6gFO/giphy.gif" />
	</section>
    <section>
        <img src="images/wip.png"/>
    </section>
    <section>
        <img src="images/leadTime.png"/>
    </section>
    <section>
        <img src="images/cycleTime.png"/>
    </section>
    <section>
        <img src="images/throughput.png"/>
    </section>
    <section>
        <img src="images/batchSize.png"/>
    </section>
