	<section>
		<h1>Some Concepts</h1>
        <h2>Before moving on</h2>
        <img src="https://media.giphy.com/media/ZXKZWB13D6gFO/giphy.gif" />
	</section>
    <section>
        <img src="/images/kanban-and-beyond/wip.png"/>
    </section>
    <section>
        <img src="/images/kanban-and-beyond/leadTime.png"/>
    </section>
    <section>
        <img src="/images/kanban-and-beyond/cycleTime.png"/>
    </section>
    <section>
        <img src="/images/kanban-and-beyond/throughput.png"/>
    </section>
    <section>
        <img src="/images/kanban-and-beyond/batchSize.png"/>
    </section>
