	<section>
        <h2>Component 6:</h2>
    	<h1>Explicit Criterias</h1>
	</section>
<section>
    <div class="board">
        <table width="">
            <tbody>
                <tr>
                    <td>Backlog</td>
                    <td>Dev</td>
                    <td>Test</td>
                    <td>Validated</td>
                    <td>Deployed</td>
                </tr>
                <tr>
                    <td>
                        <div class="post-it">
                            12
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            8
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            3
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            10
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            16
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="post-it">
                            22 
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            11 
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            4
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            15
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            14
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="post-it">
                            9
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="post-it">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="post-it">
                            18
                        </div> 
                    </td>
                    <td>
                        <div class="post-it">
                            23
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="post-it">
                            1
                        </div>
                    </td>
                    <td>

                    </td>
                    <td>
                        <div class="post-it">
                            13
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img src="/images/kanban-and-beyond/checklist.png" style="width: 50px; height: 50px;"/></td>
                    <td><img src="/images/kanban-and-beyond/checklist.png" style="width: 50px; height: 50px;"/></td>
                    <td><img src="/images/kanban-and-beyond/checklist.png" style="width: 50px; height: 50px;"/></td>
                    <td><img src="/images/kanban-and-beyond/checklist.png" style="width: 50px; height: 50px;"/></td>
                    <td><img src="/images/kanban-and-beyond/checklist.png" style="width: 50px; height: 50px;"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
