<section>
<h2>Component 5:</h2>
<h1>The flow</h1>
</section>
<section data-transition="none">
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              12
            </div>
          </td>
          <td>
            <div class="post-it">
              8
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
          </td>
          <td>
            <div class="post-it">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div>
          </td>
          <td>
            <div class="post-it">
              11 
            </div>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>                
<section data-transition="none">
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              12
            </div>
          </td>
          <td>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
          </td>
          <td>
            <div class="post-it">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div>
          </td>
          <td>
            <div class="post-it">
              11 
            </div>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight">
              8
            </div>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>  
<section data-transition="none">
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it-highlight">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
          </td>
          <td>
            <div class="post-it">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div>
          </td>
          <td>
            <div class="post-it">
              11 
            </div>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              8
            </div>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>   
<section data-transition="none">
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
          </td>
          <td>
            <div class="post-it">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div>
          </td>
          <td>

            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              8
            </div>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight">
              11 
            </div>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>               
<section>
  <h2>Queue is full!!!</h2>
  <img class="strech" src="/images/kanban-and-beyond/panic.gif"/>
</section>
<section data-transition="none">
  <h3>One developer can pair with the tester</h3>
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
          </td>
          <td>
            <div class="post-it-highlight">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it-highlight">
              22 
            </div> 
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              8
            </div>
          </td>
          <td>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              11 
            </div>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section> 
<section data-transition="none">
  <h3>Move the focus to test column</h3>
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Q 4 Test</td>
          <td>Test</td>
          <td>Done</td>
        </tr>
        <tr>
          <td><center>5</center></td>
          <td><center>3</center></td>
          <td><center>3</center></td>
          <td><center>1</center></td>
          <td><center></center></td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
          </td>
          <td>
          </td>
          <td>
            <div class="post-it-highlight">
              10
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div> 
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              8
            </div>
          </td>
          <td>
            <div class="post-it-highlight">
              3
            </div>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              9
            </div>
          </td>
          <td>
          </td>
          <td>
            <div class="post-it">
              11 
            </div>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section> 
