<section>
<h1>Kanban and Beyond</h1>
<h3>10 Components of a great <em>K</em>anban System</h3>
<p>
<small>Created by <a href="http://rogeralmeida.github.io/">Roger Almeida</a> / <a href="http://twitter.com/roger4almeida">@roger4almeida</a></small>
</p>
</section>
<section>
  <img src="/images/kanban-and-beyond/starbucks.jpeg" style="width: 95%; height: 95%;"/>
</section>

<section>
  <img src="/images/kanban-and-beyond/assemblyLine.jpeg" style="width: 85%; height: 85%;"/>
</section>

<section>
  <img src="/images/kanban-and-beyond/boing.jpg" style="width: 95%; height: 95%;"/>
</section>
