<section>
<h2>Component 3:</h2>
<h1>Queues</h1>
</section>
<section>
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Dev</td>
          <td>Test</td>
          <td>Deployed</td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              3
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              22 
            </div>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight shake-constant shake-chunk">
              4
            </div>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight shake-constant shake-chunk">
              8
            </div>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div class="post-it-highlight shake-constant shake-chunk">
              1
            </div>
          </td>
          <td>
            <div class="post-it-highlight shake-constant shake-chunk">
              11 
            </div>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div class="board">
    <table width="">
      <tbody>
        <tr>
          <td>Backlog</td>
          <td>Dev</td>
          <td>Queue</td>
          <td>Test</td>
          <td>Queue</td>
          <td>Deployed</td>
        </tr>
        <tr>
          <td>
            <div class="post-it-highlight">
              1
            </div>
          </td>
          <td>
            <div class="post-it">
              12
            </div>
            <img src="/images/kanban-and-beyond/p3.png" class="person"/>
            <img src="/images/kanban-and-beyond/p4.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight">
              4
            </div>

          </td>
          <td>
            <div class="post-it">
              3
            </div>
            <img src="/images/kanban-and-beyond/p7.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight">
              11 
            </div>
          </td>
          <td>
            <div class="post-it">
              16
            </div>
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="post-it">
              22 
            </div>
            <img src="/images/kanban-and-beyond/p5.png" class="person"/>
            <img src="/images/kanban-and-beyond/p6.png" class="person"/>
          </td>
          <td>
            <div class="post-it-highlight">
              8
            </div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <div class="post-it">
              2
            </div>
            <img src="/images/kanban-and-beyond/p1.png" class="person"/>
            <img src="/images/kanban-and-beyond/p2.png" class="person"/>
          </td>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td></td>
        </tr>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
