	<section>
		<h2>Visual Workflow</h2>
		<img src="images/boing.jpg" style="width: 75%; height: 75%;"/>
	</section>
	<section>
		<h2>Software Development?</h2>
	</section>
	<section>
		<h2>QA Testing the mobile app?</h2>
		<img src="images/Students-using-smartphones.jpg"/>
	</section>
	<section>
		<h2>Are we releasing the new version in July?</h2>
		<img src="images/10-ways-pair-programming-3.png"/>
	</section>
	<section>
		<h2>Is the feature X in Prod?</h2>
		<img src="images/Coding_Shots_Annual_Plan_high_res-5.jpg"/>
	</section>
	<section>
		<h2>We cannot see the progress naturally</h2>
		<img src="images/office.jpg"/>
	</section>
	<section>
        <img src="images/toyotaKanban.jpg"/>
	</section>
