  <section>
      <h2>What is kanban?</h2>
      <ul>
        <li class="fragment fade-in">Toyota way to signal the upstream department to produce more parts</li>
        <li class="fragment fade-in">Reduce waste</li>
      </ul>
  </section>
  <section>
      <img src="images/kanbanBook.jpg"/>
  </section>

  <section>
      <p>
      <em>k</em>anban vs <em>K</em>anban?
      </p>
      <ul>
          <li class="fragment fade-in"><em>k</em>anban = card to send a signal</li>
          <li class="fragment fade-in"><em>K</em>anban = system to reduce waste</li>
      </ul>
  </section>
