    <section>
        <h2>Component 4:</h2>
        <h1>Limit WIP</h1>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                            <div class="post-it-highlight">
                                2
                            </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it-highlight">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it-highlight">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it-highlight">
                                12
                            </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="post-it-highlight">
                                12
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                          <div class="post-it-highlight">
                              20
                          </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="post-it">
                                12
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="post-it-highlight shake-chunk shake-constant">
                                12
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2> Add limits to the system to reduce the Lead Time</h2>
    </section>
    <section>
        <h2>Little's Law</h2>
        <blockquote>“The average number of work items in a stable system is equal to their average completion rate, multiplied by their average time in the system.” John Little, 1961 </blockquote>
        <h1 class="fragment">
          WIP = Throughput X Lead Time
        </h1>
    </section>
    <section>
        <h2>The goal is to Reduce Lead Time</h2>
        <em> Lead Time = WIP <span class="fragment"> <i class="fa fa-arrow-down" aria-hidden="true"></i></span> / Throughput <span class="fragment"><i class="fa fa-arrow-up" aria-hidden="true"></i></span></em>
    </section>
    <section>
        <iframe width="800" height="600" src="https://www.youtube.com/embed/nl7hARdw18M" frameborder="0" allowfullscreen="true"></iframe>
    </section>
    <section data-transition="none">
        <div class="board">
            <table width="">
                <tbody>
                    <tr>
                        <td>Backlog</td>
                        <td>Dev</td>
                        <td>Queue</td>
                        <td>Test</td>
                        <td>Queue</td>
                        <td>Deployed</td>
                    </tr>
                    <tr class="limit-row">
                      <td></td>
                      <td><center>3</center></td>
                      <td><center>4</center></td>
                      <td><center>1</center></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                          <div class="post-it">
                              20
                          </div>
                            <img src="images/p3.png" class="person"/>
                            <img src="images/p4.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                4
                            </div>

                        </td>
                        <td>
                            <div class="post-it">
                                3
                            </div>
                            <img src="images/p7.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                16
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="post-it">
                                22 
                            </div>
                            <img src="images/p5.png" class="person"/>
                            <img src="images/p6.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                8
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              18
                          </div>
                        </td>
                        <td>
                          <div class="post-it">
                              17
                          </div>
                            <img src="images/p1.png" class="person"/>
                            <img src="images/p2.png" class="person"/>
                        </td>
                        <td>
                            <div class="post-it">
                                11 
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                          <div class="post-it">
                              19
                          </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="post-it">
                                2
                            </div>
                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="post-it-highlight shake-chunk shake-constant">
                                12
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
