---
layout: wikki
title: "End of day checklist"
categories: checklist
date: 2018-01-02
tags: checklist
---

%input{type: 'checkbox'} Update the absence spreadsheet
%br
%input{type: 'checkbox'} Write down next day agenda
%br
%input{type: 'checkbox'} Review the following day agenda for any important thing I should pay attention
%br
%input{type: 'checkbox'} Write down missing tomorrow's tasks
%br
For each tasks in my daily log do:
%ul
  %li Strikeout if not necessary anymore
  %li Cross if done
  %li Delegate if someone else can do it
  %li Schedule to the future
%input{type: 'checkbox'} Pick 3 most important tasks for tomorrow
%br
%input{type: 'checkbox'} Add new logs to summary
%br

%h2 Preparing for next day stand-up:

%input{type: 'checkbox'} What did I work on yesterday?
%br
%input{type: 'checkbox'} Meetings that I participated and I should let the team know the outputs
%br
%input{type: 'checkbox'} Today my focus will be:
%br
%input{type: 'checkbox'} Don't forget to:
