---
layout: talk
title: "Agile Software Inception - From ideas to execution"
date: 2016-11-29 10:47
comments: true
sharing: true
footer: true
---

%section{data: {background: {image: "/images/inception/background.gif"}}}
  %h1 Inception
  %h2 From ideas to execution

%section
  %table
    %tr
      %td
        %h2 What is it?
      %td
        %ul
          %li Serie of workshop
          %li Run on the beginning of project

%section
  %section
    %h1 Why?
  %section
    We know what to do...

%section
  %h1 Preparing for inception

%section
  sample agenda
  is is not does does not
  elevator pitch
  Product in a box
  In scope/Out of scope
  Trade Off Sliders
  Stakeholders map
  Product Blue Print
  Personas
  Users and Goals
  User Journeys
  Tech Sessions
  Path to Production
  Feature Discovery
  Tech Certainty vs Business Certainty
  Effort vs Business Value
  Release Waves
