---
layout: talk
title: "Agile Software Inception - From ideas to execution"
date: 2016-11-29 10:47
comments: true
sharing: true
footer: true
---

%section
  %h1 Inception
  %h2 From ideas to execution
  %h3 Roger Almeida - @roger4almeida


%section
  %section
    %h1 Why?
  %section
    %h2 Yes, we agree. We are aligned...
    %img{src: '/images/inception/sometimeswethinkweallagree.png'}
  %section
    %h2 OK, let me draw... wait, what?!
    %img{src: '/images/inception/oh.png'}
  %section
    %h2 What if...
    %img{src: '/images/inception/whatkillsmostprojects2.png'}
%section{data: {background: {image: '/images/inception/inception-workshops.jpg'}}}
  .row
    .col-6
      %h2 Agile Software Inception
    .col-6
      .panel
        %ul
          %li Serie of workshop
          %li From high level to detail
          %li Collaborative work
          %li Foster engagement
          %li Team building
%section
  %section
    .panel
      %h2 Mechanics
  %section{data: {background: {image: '/images/inception/Mechanics-1.png'}}}
  %section{data: {background: {image: '/images/inception/Mechanics-2.png'}}}
  %section{data: {background: {image: '/images/inception/Mechanics-3.png'}}}
  %section{data: {background: {image: '/images/inception/Mechanics-4.png'}}}
  %section{data: {background: {image: '/images/inception/Mechanics-5.png'}}}
  %section{data: {background: {image: '/images/inception/Mechanics-6.png'}}}
  %section{data: {background: {image: '/images/inception/Agenda-1.png'}}}
  %section{data: {background: {image: '/images/inception/Agenda-2.png'}}}
%section
  %section
    .row
      .col-12
        :markdown
          # Phases of an Inception
    .row
      .col-4
        :markdown
          ## Discovery
      .col-4
        :markdown
          ## Analysis
      .col-4
        :markdown
          ## Planning
  %section
    .row
      .col-12
        %h2 Discovery
    .row
      .col-6
        .panel
          :markdown
            * Product/Project Vision
            * Stakeholder's Map
            * User's Goals
            * Personas
            * User Journey
            * Product BluePrint
            * Is/Is Not - Does/Does Not
            * Product in a box
            * Elevator Pitch
      .col-1
        &nbsp;
      .col-4
        .panel
          :markdown
            * Why are we here?
            * Why are we building it?
            * Why doing it now?
            * Who will benefit from it?
  %section
    .row
      .col-12
        %h2 Analysis
    .row
      .col-6
        .panel
          :markdown
            * Feature Discovery
            * Tech Certainty vs Business Certainty
            * Effort vs Business Value
            * Tech Session
            * Path to Production
            * Cross Functional Requirements
      .col-1
        &nbsp;
      .col-5
        .panel
          :markdown
            * What do we have to do?
            * What are the effects?
            * How we will build it?
            * How we gonna put it in production?
  %section
    .row
      .col-12
        %h2 Planning
    .row
      .col-6
        .panel
          :markdown
            * Critical Path
            * Release Waves
      .col-1
        &nbsp;
      .col-5
        .panel
          :markdown
            * How we gonna release it
            * Final considerations

%section
  %h1 Workshops
%section
  %section{data: {background: {image: '/images/inception/product-vision.png'}}}
  %section
    .row
      :markdown
        ## Product/Project Vision
    .row
      .col-4.panel
        %i.fa-clock-o{aria: {hidden: true}}
        :markdown
          * Presentation about the product
          * What have being done so far
          * What do we know
          * What we are looking for
      .col-8
        %img{src: '/images/inception/vision.png'}
%section
  %section{data: {background: {image: '/images/inception/Constant-2.png'}}}
    .panel
      %h2 Constant Boards
  %section{data: {background: {image: '/images/inception/Constant-1.png'}}}
  %section{data: {background: {image: '/images/inception/Constant-2.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Is-not-3.png'}}}
    .panel
      %h2 Is/Is Not - Does/Does Not
  %section{data: {background: {image: '/images/inception/Is-not-1.png'}}}
  %section{data: {background: {image: '/images/inception/Is-not-2.png'}}}
  %section{data: {background: {image: '/images/inception/Is-not-3.png'}}}
  %section
    .row
      %h2 Variations: Is/Is Not - MVP/Ideal Experience
    .row
      %img{src: '/images/inception/mvp-is-not.jpg'}
%section
  %section{data: {background: {image: '/images/inception/elevator-pitch.jpg'}}}
    .panel
      %h2 elevator pitch
  %section{data: {background: {image: '/images/inception/elevator-pitch.jpg'}}}
  %section
    %img{src:'/images/inception/elevator-pitch-team.jpg'}
%section
  %section
    .row
      %h2 Product in a box
    .row
      .col-6
        %img{src: '/images/inception/product-in-a-box.jpeg'}
      .col-4
        .panel
          :markdown
            * Design a product your customer would like to buy
            * List key features
            * Think about slogans

%section
  %section{data: {background: {image: '/images/inception/in-out-circle.png'}}}
    .panel
      %h2 In scope/Out of scope
  %section{data: {background: {image: '/images/inception/in-out-circle.png'}}}
  %section{data: {background: {image: '/images/inception/in-out-questions.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Trade-off-sliders-4.png'}}}
    .panel
      %h2 Trade Off Sliders
  %section{data: {background: {image: '/images/inception/Trade-off-sliders-1.png'}}}
  %section{data: {background: {image: '/images/inception/Trade-off-sliders-2.png'}}}
  %section{data: {background: {image: '/images/inception/Trade-off-sliders-3.png'}}}
  %section{data: {background: {image: '/images/inception/Trade-off-sliders-4.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Stakeholder-map.png'}}}
    .panel
      %h2 Stakeholder's map
  %section{data: {background: {image: '/images/inception/Stakeholder-map.png'}}}
  %section{data: {background: {image: '/images/inception/Stakeholder-map-areas.png'}}}
  %section{data: {background: {image: '/images/inception/Stakeholder-map-areas-annotated.png'}}}
%section
  %section{data: {background: {image: '/images/inception/User-and-goals.png'}}}
    .panel
      %h2 Users and Goals
  %section{data: {background: {image: '/images/inception/Users.png'}}}
  %section{data: {background: {image: '/images/inception/User-and-goals.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Personas.png'}}}
    .panel
      %h2 Personas
  %section{data: {background: {image: '/images/inception/Personas.png'}}}
  %section
    .row
      %h2 Personas examples
    .row
      .col-4
        %img{src: '/images/inception/Persona-example.jpeg'}
      .col-6
        %img{src: '/images/inception/Persona-example-photo.jpeg'}
%section
  %section{data: {background: {image: '/images/inception/User-journey-final.png'}}}
    .panel
      %h2 User Journeys
  %section{data: {background: {image: '/images/inception/User-journey-empty.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-first-step.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-second-step.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-third-step.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-full.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-final.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-filling.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Feature-discovery-1.png'}}}
    .panel
      %h2 Feature Discovery
  %section{data: {background: {image: '/images/inception/User-and-goals.png'}}}
  %section{data: {background: {image: '/images/inception/Feature-discovery-1.png'}}}
  %section{data: {background: {image: '/images/inception/User-journey-full.png'}}}
  %section{data: {background: {image: '/images/inception/Feature-discovery-2.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Tech-session.jpeg'}}}
    .panel
      %h2 Tech Sessions
  %section{data: {background: {image: '/images/inception/Tech-session.jpeg'}}}
%section
  %section{data: {background: {image: '/images/inception/Path-to-production-7.png'}}}
    .panel
      %h2 Path to Production
  %section{data: {background: {image: '/images/inception/Path-to-production-1.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-2.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-3.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-4.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-5.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-6.png'}}}
  %section{data: {background: {image: '/images/inception/Path-to-production-7.png'}}}

%section
  %section{data: {background: {image: '/images/inception/Business-tech-certainty-4.png'}}}
    .panel
      %h2 Tech Certainty vs Business Certainty
  %section{data: {background: {image: '/images/inception/Business-tech-certainty-1.png'}}}
  %section{data: {background: {image: '/images/inception/Business-tech-certainty-2.png'}}}
  %section{data: {background: {image: '/images/inception/Business-tech-certainty-3.png'}}}
  %section{data: {background: {image: '/images/inception/Business-tech-certainty-4.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Effort-business-value-4.png'}}}
    .panel
      %h2 Effort vs Business Value
  %section{data: {background: {image: '/images/inception/Effort-business-value-1.png'}}}
  %section{data: {background: {image: '/images/inception/Effort-business-value-2.png'}}}
  %section{data: {background: {image: '/images/inception/Effort-business-value-3.png'}}}
  %section{data: {background: {image: '/images/inception/Effort-business-value-4.png'}}}
%section
  %section{data: {background: {image: '/images/inception/Release-waves-3.png'}}}
    .panel
      %h2 Release Waves
  %section{data: {background: {image: '/images/inception/Release-waves-1.png'}}}
  %section{data: {background: {image: '/images/inception/Release-waves-2.png'}}}
  %section{data: {background: {image: '/images/inception/Release-waves-3.png'}}}
%section
  :markdown
    # Thank You
    ## Roger Almeida - Inception
    ### @roger4almeida
    ### ralmeida@tyro.com
    http://rogeralmeida.github.io/talks/inception/
