---
layout: talk
title: "Agile Software Inception - From ideas to execution"
date: 2016-11-29 10:47
comments: true
sharing: true
footer: true
---

%section{data: {background: {image: "/images/inception/background.gif"}}}
  %h1 Inception
  %h2 From ideas to execution


%section
  %section
    %h1 Why?
  %section
    %h2 Yes, we agree. We are aligned...
    %img{src: '/images/inception/sometimeswethinkweallagree.png'}
  %section
    %h2 OK, let me draw... wait, what?!
    %img{src: '/images/inception/oh.png'}
  %section
    %h2 What if...
    %img{src: '/images/inception/whatkillsmostprojects2.png'}
%section{data: {background: {image: '/images/inception/inception-workshops.jpg'}}}
  .row
    .col-6
      %h2 Agile Software Inception
    .col-6
      .panel
        %ul
          %li Serie of workshop
          %li From high level to detail
          %li Collaborative work
          %li Foster engagement
          %li Team building
%section
  %section
    .row
      .col-12
        :markdown
          # Phases of an Inception
    .row
      .col-4
        :markdown
          ## Discovery
      .col-4
        :markdown
          ## Analysis
      .col-4
        :markdown
          ## Planning
  %section
    .row
      .col-12
        %h2 Discovery
    .row
      .col-6
        .panel
          :markdown
            * Product/Project Vision
            * Stakeholder's Map
            * User's Goals
            * Personas
            * User Journey
            * Product BluePrint
            * Is/Is Not - Does/Does Not
            * Product in a box
            * Elevator Pitch
      .col-1
        &nbsp;
      .col-4
        .panel
          :markdown
            * Why are we here?
            * Why are we building it?
            * Why doing it now?
            * Who will benefit from it?
  %section
    .row
      .col-12
        %h2 Analysis
    .row
      .col-6
        .panel
          :markdown
            * Feature Discovery
            * Tech Certainty vs Business Certainty
            * Effort vs Business Value
            * Tech Session
            * Path to Production
            * Cross Functional Requirements
      .col-1
        &nbsp;
      .col-5
        .panel
          :markdown
            * What do we have to do?
            * What are the effects?
            * How we will build it?
            * How we gonna put it in production?
  %section
    .row
      .col-12
        %h2 Planning
    .row
      .col-6
        .panel
          :markdown
            * Critical Path
            * Release Waves
      .col-1
        &nbsp;
      .col-5
        .panel
          :markdown
            * How we gonna release it
            * Final considerations
%section
  %h1 Discovery Phase
%section
  %section{data: {background: {image: '/images/inception/product-vision.png'}}}
  %section
    .row
      :markdown
        ## Product/Project Vision
    .row
      .col-4.panel
        %i.fa-clock-o{aria: {hidden: true}}
        :markdown
          * Presentation about the product
          * What have being done so far
          * What do we know
          * What we are looking for
      .col-8
        %img{src: '/images/inception/vision.png'}
%section
  %section
    .row
      :markdown
        ## Is/Is Not - Does/Does Not
    .row
      .col-6
        %img{src: "/images/inception/faz-nao-faz.jpg"}
      .col-6
        %img{src: '/images/inception/is-is-not-does-does-not.jpg'}
  %section
    .row
      %h2 Variations: Is/Is Not - MVP/Ideal Experience
    .row
      %img{src: '/images/inception/mvp-is-not.jpg'}
%section
  %section
    .row
      %h2 elevator pitch
    .row
      .col-2
        &nbsp;
      .col-8
        %img{src: '/images/inception/elevator-pitch.jpg', style: 'width: 100%; heigth: 200px;'}
      .col-2
  %section
    %img{src: '/images/inception/elevator-pitch-team.jpg'}

%section
  %section
    .row
      %h2 Product in a box
    .row
      .col-6
        %img{src: '/images/inception/product-in-a-box.jpeg'}
      .col-4
        .panel
          :markdown
            * Design a product your customer would like to buy
            * List key features
            * Think about slogans

%section
  %section{data: {background: {image: '/images/inception/in-out-circle.png'}}}
    %h2 In scope/Out of scope
  %section{data: {background: {image: '/images/inception/in-out-questions.png'}}}
%section
  %section
    .row
      %h2 Trade Off Sliders
    .row
      %img{src: '/images/inception/trade-off-sliders.png'}
%section
  %section{data: {background: {image: '/images/inception/Stakeholder-map.png'}}}
    .panel
      %h2 Stakeholder's map
  %section
    %img{src:'/images/inception/Stakeholder-map.png'}
  %section
    %img{src:'/images/inception/Stakeholder-map-areas.png'}
  %section
    %img{src:'/images/inception/Stakeholder-map-areas-annotated.png'}
%section
  %section
    Product Blue Print
%section
  %section
    Personas
%section
  %section
    Users and Goals
%section
  %section
    User Journeys
%section
  %section
    Tech Sessions
%section
  %section
    Path to Production
%section
  %section
    Feature Discovery
%section
  %section
    Tech Certainty vs Business Certainty
%section
  %section
    Effort vs Business Value
%section
  %section
    Release Waves
%section
  %section
    %h1 Preparing for inception
  %section
    Sample Agenda
