---
layout: post
title: "My Flavor of Bullet Journal"
date: 2017-03-02 11:31:31 +0000
cover_picture: "/images/estee-janssens-396885.png"
comments: true
---
:markdown
  I have being a fan of todo lists for a long time. I can remember myself using a notebook to take note of my tasks since 2010.
  In 2013 I was introduced to Bullet Journal by a freind and decided to give it a go. It was a perfect match. Since then I've being using bullet journal to organise my life. In this post I will explain my flavor of bullet journal, what I have tried and what is working for me till now.

<!--- more --->

:markdown
  # What is Bullet Journal
  To explain what is Bullet Journal is beyond the scope of this post. But, if you are new to Bullet Journal I recommend you to watch this 4 minutes video:

%iframe{width:"560", height:"315", src:"https://www.youtube.com/embed/fm15cmYU0IM", frameborder:"0", allowfullscreen: true}

:markdown
  # Future Log
  I don't use Future Log anymore. I use to use it, but as I use my calendar to organise my agenda the Future Log was not much useful to me. I'm open to try it again in the future if needed, but for now I'm good without it.
  # Monthly Log
  I use Monthly Log heavily. Allong the years I used my Monthly Log's setups. I started with the original Bullet Journal setup and after a while I experimented different setups. Tip: I use pinterest as a source of inspiration. 
  Here are some photos of the Monthly Log setup that I used before:

  # Daily Log
  My dayly log is pretty standard as well. The only thing that I like to do is to write down my agenda for the day. I use it to give me a sense of what will happen in my day.
  # Projects
  # Collections
  # Routines
  # Resources

