!!!
%html{lang: "{{ page.lang | default: site.lang | default: 'en' }}"}

  = "{% include head.html %}"

  %body
    %div.container
      .row
        .col-md-3
          = "{% haml menu.haml %}"

        .col-md-9
          %main.page-content{aria: {label: "Content"}}
            %div.wrapper
              = "{{ content }}"
      .row
        .col-md-12
          = "{% include footer.html %}"
