---
layout: default
---

<div class="home">
  
  {{ content }}

  {% for post in site.posts %}
    <div class="page-header">
      <h1>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h1>
      <p>
        {{ post.excerpt }}
      </p>
      <a class="post-link" href="{{ post.url | relative_url }}">Read More...</a>
    </div>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
