---
layout: default
---

<div class="home">
  
  {{ content }}

  {% for post in site.posts %}
    <div class="page-header post-snippet" style="background-image: url('{{ post.banner_image }}'); background-size: 100% 100%;">
      <h1>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h1>
      <p>
        {{ post.excerpt }}
      </p>
      <p>
        <a class="post-link" href="{{ post.url | relative_url }}">Read More...</a>
        <span class="pull-right">{{ post.date | date_to_string }}</span>
      </p>
    </div>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
