---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header" >
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>
  <p class="post-meta">
    <a href="/">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back
    </a>
    <span class="info-line">
      {% capture time %}
        {{ content | reading_time }}
      {% endcapture %}
      Reading Time: {{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %}
      -
      <time class="float-right" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </span>
  </p>
  <div id="post-content" class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
{% include related_posts.html %}
{% include disqus_comments.html %}
