---
layout: talk
title: "Lessons from leading an YBYR team"
date: 2018-10-04 10:47
theme: "white"
comments: true
sharing: true
footer: true
---

%section
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h1 Lessons from running a YBIYRI team
      .none{style: 'grid-column-start: 1; grid-column-end: 8'}
        %ul
          %li 
            %strong Roger Almeida
          %li 
            %i.fab.fa-twitter
            %a{href: '#'}@rogeralmeidacom
          %li 
            %i.fab.fa-github
            %a{href: '#'}github.com/rogeralmeida
          %li
            %i.fab.fa-linkedin
            %a{href: "#"}linkedin.com/in/roger-almeida
          %li 
            %i.fas.fa-globe
            %a{href: '#'}www.roger-almeida.com
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    %h2 DevOps
    %blockquote DevOps (a clipped compound of "development" and "operations") is a software engineering culture and practice that aims at unifying software development (Dev) and software operation (Ops)
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    %h2 You build it, You run it
    %blockquote
      Giving developers operational responsibilities has greatly
      %span.fragment.highlight-blue enhanced the quality of the services
      , both from a customer and a technology point of view. The traditional model is that you take your software to the wall that separates development and operations, and throw it over and then forget about it. Not at Amazon.
      %span.fragment.highlight-red You build it, you run it.
      This brings developers into contact with the day-to-day operation of their software. It also brings them into day-to-day
      %span.fragment.highlight-blue contact with the customer.
      This customer feedback loop is essential for improving the quality of the service.
    %a{href: 'https://queue.acm.org/detail.cfm?id=1142065'}A conversation with Werner Vogels - 30/Jun/2006
    %aside.notes
      A Conversation with Werner Vogels in 2006
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    %h2 You build it, You run it
    %blockquote
      You build it, you run it is the principle that development teams operate their own product.
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Tyro Journey
  %section{data: {background: {image: '/images/ybyr/2015-tyro-journey.svg', size: '100%'}}}
    .grid-container
      .none{style: 'grid-column-start: 4; grid-column-end: 12'}
        %h1{style: 'margin-top: 1px'} Tyro Journey
      .none{style: 'grid-column-start: 4; grid-column-end: 12'}
        %ul
          %li Train Release every 2 weeks
          %li 100% Pair Programming
          %li Java Shop
  %section{data: {background: {image: '/images/ybyr/2016-tyro-journey.svg', size: '100%'}}}
    .grid-container
      .none{style: 'grid-column-start: 4; grid-column-end: 12'}
        %h1 Tyro Journey
      .none{style: 'grid-column-start: 4; grid-column-end: 12'}
        %ul
          %li Train Release every week
          %li fragment Self Service
          %li fragment Cloud adoption in progress
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Benefits
  %section
    %h2 DORA DevOps report
    TODO: Put the benefits from Dora here
    TODO: Add Tyro's objectives here. The benefits we are seeking
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 My challenge
    Lead the first YBIYRI team
    TODO: Add my service
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 DevOps models
    %ul
      %li Amazon YBIYRI
      %li Google SRE
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    Tyro way
    %ul
      %li High regulated environment: APRA, Royal Comission, Payment Industry
      %li Platform teams
      %li Delivery Teams
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  Lessons learned
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 1) Running services is a whole area of knowledge that developers are normally not exposed to
  Pregnant woman analogy
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 2) Define the business capability you will support sooner than later
  You will need involvement from business (PO)
  We are not talking about software artefacts
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 3) Define your Service Levels
  %ul
    %li SLI
    %li SLO
    %li SLA
    %li MAO
    %li RTO
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 4) Monitoring is a constant conversation
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 5) Alerting
  Too much alerting is the same as no alerting
  Log, ticket, pager dutty,
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 6) Post-mortem
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 7) Capture the why for later reference
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 8) Been on-call
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 9) Testing
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 Conclusion
  We gained a lot of experience
  There is no way back, this is not the future, it is the present
%section
  %h1 Thank you
  %img{src: '/images/ybyr/questions.gif', style: 'width: 45%'}
  %br
  %a{href: 'http://www.roger-almeida.com/talks/ybyr/'}www.roger-almeida.com/talks/ybyr/

